/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* основной цвет фона #FFFFFF*/
/* вторичный цвет фона #F5F4FA */
/* акцент #2196F3 */

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #FFFFFF;
    --background-grey-color: #F5F4FA;
    --background-spaygrey-color: #2F303A;

}

body {
    margin: 0;
    color: var(--primary-text-color);
    background-color: var(--primary-white-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    
    
}

ul {
    list-style: none;
}

/* logo */
.logo {
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
    
    
}
.logo .title {
    color: var(--accent-color);
}
/* container */
.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: 2px solid red;
    
}
/* site nav */
.site-nav .link {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}

.site-nav .link.curent {
    color: var(--accent-color);
}

/* site contacts*/
.site-contacts .link {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    
    
}
.site-contacts .link:hover,
.site-contacts .link:focus {
    color: var(--accent-color);
}

/* Hero */

.hero {
    background-color: var(--background-spaygrey-color);
}

.hero-title {
    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
}

.hero>button {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border-radius: 4px;
    border: 0;
    padding: 10px 32px;
}

.button.active {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
    
}
.button.active,
.button {
    border-radius: 4px;
    display: inline-block;
    padding: 6px 22px;
    text-align: center;
    border: 0;
}


/* peculiarities */
.visual-heading{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.peculiarities {
    background-color: var(--primary-white-color);
}

.peculiarities-title {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.1;
    text-transform: uppercase;
}

.peculiarities-text {
    color: var(--title-text-color);
    line-height: 1.71;
}

/* work */

.work {

}
.section-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.work-link {
    width: 370px;
}
.work-link:hover {
    background-color: var(--accent-color);
}

/* team */
.team {
    background-color: var(--background-grey-color);
}

 
.team-list {
    width: 270px;
    background-color: var(--primary-white-color);
}
.team-name {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    
}
.team-job {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.19;
}

/* footer */

.footer {
    background-color: var(--background-spaygrey-color);
}
.footer-adress .map {
    color: var(--primary-white-color);
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
}

.footer-adress .link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    line-height: 1.71;
    text-decoration: none;
}
.footer-adress .link:hover,
.footer-adress .link:focus {
    color: var(--accent-color);
}

.logo-footer {
    color: var(--primary-white-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    
}

.logo-footer .title {
    color: var(--accent-color);
}

/* styles portfolio */
/* job */

.button {
    color: var(--primary-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
}
.button:hover,
.button:focus {
    color: var(--primary-white-color);
    background-color: var(--accent-color);
}
.job-title {
    color: var(--primary-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
    
}
.job-text {
    color: var(--title-text-color);
    font-size: 16px;
    line-height: 1.88;
}
.job-link {
    text-decoration: none;
}